.navlink {
    text-decoration: none;
    color: #FFFFFF;
}

.navlink:hover {
    opacity: 0.6;
}

@media (max-width: 425px) {
    .navlink {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: right;
    }
}