.register {
    width: 358px;
    margin: 60px auto;
    box-sizing: border-box;
    color: #FFFFFF;
}

@media (max-width: 425px) {
    .register {
        width: 100vw;
        margin: 40px 0;
    }
}