.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 425px) {
    .form {
        padding: 25px 22px;
    }
}