.popup {
    position: fixed;
    width: 100%;
    visibility: hidden;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    box-sizing: border-box;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
    transition: opacity 0.5s ease-in-out, visibility .5s ease-in-out;
}

@media (max-width: 425px) {
    .popup {
        align-items: start;
    }
}